# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
develop-eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.spec

# Installer logs
pyczar.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Specific project files
pic/
packPython.txt
config.json
config_manager.py
